@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

:root{
    /*PRIMARIOS*/
    --color-rojo-brillante: rgb(242, 95, 58);
    --color-rojo-brillante-hover: rgb(243, 160, 139);
    --color-azul-oscuro: rgb(35, 44, 81);
    /*NEUTRO*/
    --color-azul-grisaco: rgb(143, 148, 167);
    --color-azul-super-oscuro: rgb(29, 30, 37);
    --color-azul-super-oscuro-nav: rgba(29, 30, 37, 0.9);
    --color-rojo-palido: rgb(255, 239, 234);
    --color-gris-claro: rgb(249, 249, 249);
    --color-gris: #B3B2B7;
}

body{
    position: relative;
    width: 100%;
}

body *{
    overflow-y: hidden;
}

a{
    text-decoration: none;
    color: var(--color-gris-claro);
}
.gral-btn{
    background-color: var(--color-rojo-brillante);
    color: var(--color-gris-claro);
    position: relative;
    font-size: 0.8rem;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s ;
    z-index: 1;
}

.gral-btn:hover{
    background-color: var(--color-rojo-brillante-hover);
}

.gral-text{
    font-size: 0.9rem;
    color: var(--color-gris);
    line-height: 1.5rem;
}
/*FONDOS*/
body > img.first-cilindre{
    width: 30rem;
    position: absolute;
    z-index: -1;
    top: -4%;
    left: 13%;
}

body > img.second-cilindre{
    width: 25rem;
    position: absolute;
    z-index: -1;
    top: 16%;
    left: 56%;
}
/***************NAV****************/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2.6rem 0;
}
header nav > button {
    display: none;
}

header nav{
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header nav img[alt="logo-manage"]{
    width: 7.5rem;
    cursor: pointer;
}

header nav label{
    position: fixed;
    right: 6vw;
    z-index: 998;
    transition: all 0.4s;
}

header nav .arrow{
    font-size: 2rem;
    top: 3vh;
    opacity: 0;
}

header nav input{
    display: none;
}

header nav ul{
    background-color: var(--color-azul-super-oscuro-nav);
    width: 40vw;
    height: 100vh;
    position: fixed;
    top:0;
    right: -50vw;
    transition: all 0.4s;
    z-index: 999;
}

header nav ul > li{
    width: 80%;
    margin: 2rem auto;
}

 /*FUNCIONALIDAD HAMBURGER*/
header nav input:checked ~ .arrow{
    opacity: 1;
    right: 42vw;
}

header nav input:checked ~ .icon-hbr{
    opacity: 0;
}

header nav input:checked ~ ul{
    right: 0;
}
/**************MAIN****************/
/*SECTION 1*/

/*first-text*/
main .first-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}

main .first-section .illustration-container{
    width: 100%;
    text-align: center;
}
main .first-section .illustration-container img{
    max-width: 400px;
}

main .first-section .first-text{
    width: 100%;
    padding: 0 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    text-align: center;
}

main .first-section .first-text h1{
    font-size: 2.3rem;
    color: var(--color-azul-oscuro);
}

main .first-section .first-text p{
    font-size: 1rem;
}

main .first-section .first-text button{
    margin: 1.3rem 0 7rem 0;
}

/*second-text*/
main .first-section .second-text{
    width: 100%;
    padding: 0 1.6rem;
    text-align: center;
}

main .first-section .second-text h2{
    font-size: 1.8rem;
    color: var(--color-azul-oscuro);
}

main .first-section .second-text p{
    margin: 1rem 0;
}

/*third-text*/
main .first-section .third-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
}

main .first-section .third-text > div{
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1.2rem 0;
}

main .first-section .third-text > div > div{
    margin: 0.8rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

main .first-section .third-text > div > div > button{
    box-shadow: 64rem 0 0 62rem var(--color-rojo-palido);
}

main .first-section .third-text > div > div > h4{
    color: var(--color-azul-oscuro);
    position:relative;
    z-index: 1;
}

/*SECTION 2*/
main .second-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2.8rem;
}

main .second-section > h1{
    font-size: 1.9rem;
    color: var(--color-azul-oscuro);
}

main .second-section .slider{
    width: 100%;
    height: 360px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .second-section .slider > div{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    opacity: 0;
    transition: all 0.5s;
}

main .second-section .slider > div > img{
    width: 70px;
}

main .second-section .slider > div > h6{
    margin: 1.4rem 0; 
} 

main .second-section .slider > div > p{
    max-width: 20rem;
    text-align: center;
} 
main .second-section > aside{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}
    
main .second-section > aside > a{
    text-decoration: none;
    width: 8px;
    height: 8px;
    border: 1px solid var(--color-rojo-brillante);
    border-radius: 100px;
}

main .second-section > button{
    margin: 2.5rem 0;
}

/*SECTION 3*/
main .third-section{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5.4rem 2rem;
    background-color: var(--color-rojo-brillante);
}

main .third-section > img{
    position: absolute;
    top: 14%;
    left: 0;
}

main .third-section > img:nth-child(2){
    position: absolute;
    display: none;
}

main .third-section > h1{
    font-size: 2.3rem;
    color: var(--color-gris-claro);
    margin: 1.6rem 0;
}

main .third-section > button{
    background-color: var(--color-gris-claro);
    color: var(--color-rojo-brillante);
}
/*************FOOTER***************/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-azul-super-oscuro);
    color: var(--color-gris-claro);
}

footer .form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.8rem 0;
}

footer .form-container input[type="email"]{
    background-color: var(--color-gris-claro);
    font-size: 0.8rem;
    padding: 0.8rem 5rem 0.8rem 1.3rem;
    margin-right: 0.2rem;
    border: none;
    border-radius: 35px;
    outline: none;
} 

footer .form-container > form > p{
    display: none;
    font-size: 0.6rem;
}

footer .form-container input[type="email"]:invalid:not(:focus):not(:placeholder-shown){
    border: 1px solid red;
    color: red;
}

footer .form-container input[type="email"]:invalid:not(:focus):not(:placeholder-shown) ~ p{
    display: block;
    color: red;
    padding: 0.5rem;
}

footer .form-container .gral-btn{
    box-shadow: none;
}

footer .list-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 3rem;
}

footer .list-container > div:nth-child(1){
    flex-basis: 60%;
}

footer .list-container > div > ul > li{
    margin: 0.8rem 0;
    font-size: 0.9rem;
}

footer .logos{
    width: 100%;
}

footer .icons-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.8rem;
}

footer .icons-container > img{
    width: 2rem;
}

footer .logo-container{
    width: 100%;
    padding: 3rem 0;
    text-align: center;
}

footer .logo-container > img{
    width: 10rem;
}

footer > p{
    color: var(--color-gris);
    font-size: 0.7rem;
    margin-bottom: 1.4rem;
}

@media (min-width: 1440px) {
    body > img.first-cilindre{
        width: 42rem;
        top: -5%;
        left: 57%;
    }
    
    body > img.second-cilindre{
        width: 42rem;
        top: 41%;
        left: -22%;
    }
    /*NAV*/
    header{
        width: 100%;
    }
    
    header nav{
        width: 80%;
        margin-bottom: 2.5rem;
    }

    header nav label,
    header nav input{
        display: none;
    }

    header nav img[alt="logo-manage"]{
        width: 9.5rem;
    }

    header nav > ul, header nav > button {
        display: block;
    }

    header nav > button{
        margin: 0.6rem;
    }
    
    header nav > ul {
        position: static;
        width: fit-content;
        height: fit-content;
        background-color: #ffffff00;
        display: flex;
        gap: 3rem;
    }

    header nav > ul > li{
        width: fit-content;
    }

    header nav > ul > li > a{
        color: var(--color-azul-oscuro);
        transition: color 0.2s;
    }

    header nav > ul > li > a:hover{
        color: var(--color-azul-grisaco);
    }

    /*MAIN*/
    /*SECTION 1*/
    main .first-section{
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto 2rem auto;
    }
    
    main .first-section > div {
        flex-basis: 50%;
    }

    main .first-section > div:nth-child(1){
        order: 2;
    }
    main .first-section > div:nth-child(2){
        order: 1;
    }
    main .first-section > div:nth-child(3){
        order: 3;
    }
    main .first-section > div:nth-child(4){
        order: 4;
    }

    main .first-section .first-text, 
    main .first-section .illustration-container{
        margin-bottom: 6.5rem;
    }

    main .first-section .illustration-container > img{
        max-width: 30rem;
    }

    main .first-section .first-text{
        text-align: start;
        align-items: start;
        justify-content: start;
        padding-right: 5.5rem;
    }

    main .first-section .first-text > h1{
        font-size: 3.2rem;
        max-width: 28rem;
    }

    main .first-section .first-text > p{
        max-width: 22rem;
        margin: 1.2rem 0 1.7rem 0;
    }

    main .first-section .first-text > button{
        margin: 0;
    }

    main .first-section .second-text{
        text-align: start;
    }

    main .first-section .second-text h2{
        font-size: 2.2rem;
        max-width: 26rem;
    }

    main .first-section .second-text p{
        max-width: 32rem;
    }

    main .first-section .third-text div{
        max-width: 42rem;
    }

    main .first-section .third-text div:nth-child(1){
        margin-top: 0;
    }

    main .first-section .third-text div > div > button{
        box-shadow: none;
    }

    /*SECTION 2*/
    main .second-section aside{
        display: none;
    }

    main .second-section > .slider > div{
        position: static;
        opacity: 1;
    }

    main .second-section > .slider > div:nth-child(4){
        display: none;
    }

    main .second-section .gral-btn{
        margin: 0 0 8rem 0;
    }

    /*SECTION 3*/
    main .third-section{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
        padding: 3rem 8.2rem;
    }

    main .third-section h1{
        position: relative;
        width: 28rem;
        z-index: 1;
    }

    main .third-section > button:hover{
        background-color: white;
        color: var(--color-rojo-brillante-hover);
    }

    main .third-section > img:nth-child(1){
        display: none;
    }

    main .third-section > img:nth-child(2){
        width: 100%;
        display: block;
        top: -14vh;
        left: 14vw;
        z-index: 0;
    }

    /*FOOTER*/
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 2.8rem 8%;
    }

    footer .form-container{
        order: 2;
        align-self: flex-start;
        justify-content: flex-end;
        padding: 0;
        padding-top: 1rem;
        flex: 0 1 63%;
    }

    footer .list-container{
        order: 1;
        flex-grow: 1;
    }

    footer .list-container > div > ul >  li{
        width: fit-content;
        margin: 1.2rem 0;
        transition: color 0.2s;
    }

    footer .list-container > div > ul > li > a:hover{
        color: var(--color-rojo-brillante);
    }

    footer .logos{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-between;
        gap: 2.5rem;
        text-align: start;
        flex: 0 1 50%;
    }

    footer .logos .icons-container{
        justify-content: start;
        width: 11rem;
        gap: 1rem;
    }

    footer .logos .icons-container > img{
        cursor: pointer;
    }

    footer .logos .icons-container > img:hover{
        filter: invert(42%) sepia(64%) saturate(1363%) hue-rotate(338deg) brightness(99%) contrast(92%);
    }

    footer .logos .logo-container{
        padding: 0;
        text-align: start;
    }

    footer > p{
        position: absolute;
        bottom: 18%;
        right: 8%;
    } 
}